.body {
    background-color: #233138;
    display: flex;
    justify-content: center;
    border-top: 1px solid #687780;
    border-bottom: 1px solid #687780;
}

.container-buscar-user {
    border-right: 1px solid #687780;
    width: 28%;
}

.title {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.title-buscar-user {
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.container-search {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
background:#fff ;
width: 300px;
height: 40px;
display: flex;

}

.input-search {
flex:1;
border: none;
outline:none;
}


.button-search {
background:#04CF9C;
padding:0px 20px;
border:none;
outline:none;
color:#fff;
letter-spacing:1px;
cursor:pointer;
}

.title {
    font-size: 8px;
}

.Datos-user{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.container-fotouser {
    width: 200px;
    height: 275px;
}

.foto-user {
    width: 100%;
    height: 100%;
}


.container-info-user-article {
    display: flex;
    margin: 0px;
    margin-top: 5px;
    height: 300px;
}


.a-usuario{
    margin-left: 10px;   
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
}


.ul-style {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-left: 4px
}

.data-analitycs {
    display: flex;
    width: 70%;
    justify-content: space-evenly
}

.article1 {
    margin: 5px;
    height: 95%;
    border: 1px solid #687780;
    
}

.container-ant-sig{
    height: 7%;
    flex-grow: 1;
    margin:0px;
}

.list-users {
    text-align: center;
    height: 78%;
}

.container-p{
    height: 15%;
}

.button-prev-next{
    background:#04CF9C;
    width: 50%;
    height: 30px;
    border:none;
    outline:none;
    color:#fff;
    letter-spacing:1px; 
}


.article2 {
    margin: 5px;
    height: 95%;
    border: 1px solid #687780;
}

.article3 {
    margin: 5px;
    height: 95%;
    border: 1px solid #687780;
}

.title {
    font-size: 25px;
}



.icon-left {
    width: 100%;
    height: 100%;
}

.icon-right {
    width: 100%;
    height: 100%;
    transform: rotate(180deg)
}

.avatar-user {
    height: 30px;
    width: 30px;
    border-radius:50%
}

