.footer {
    border-top: 1px solid #687780;
    border-bottom: 1px solid #687780;
}

.Links-footer {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 12px;
    margin: 0px;
    margin-left: 5px;

}

.container-links {
    max-width: 10%;
}