.footer{
    background-color: #233138;
    border-top:1px solid #687780;
    border-bottom: 1px solid #687780;
}

.Links-footerñ{
    font-style: none;
}

p{
    font-size: 12px;
    margin: 0px;
    margin-left: 5px;
    color: white;
}