.style-header{
 margin: 0px;
 border-top: 1px solid #687780;
 border-bottom: 1px solid #687780;
}

.banner{
    background-color: #233138;
    display: flex;
    justify-content: space-between;
}

.container-img{
   width: 120px;
   height: 40px; 
}

.container-logo-analytics{
    display: flex;
}
.Contlogo{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    margin: 0px;
    margin-top:8px;
}

.logo{
    width: 100%;
    height: 100%;
}